<div class="container">
    <img src="/assets/sunset-banner.jpg" style="width:100%">
    <div class="brand">S U N S E T S N A P P E R</div>
</div>

    <form>
    <table class="login-body">
        
        <tr>
            <td class="login-text">
                <input class="login-field" id="username" type="text" [(ngModel)]="username" name="username" placeholder="Enter Username" required>
            </td>
        </tr>
        <tr>
            <td class="error-cell">
                <div *ngIf="invalidFormInput('username') && loginForm.controls['username'].touched" class="error-message">
                  Username is required!
                </div>
              </td>
        </tr>

        <tr class="button">
            <span class="login-button">
                <button class="login-button" type="submit" (click)="onLogin()">Login</button>
            </span>
            
            <span class="home">
                <button class="back-button" type="submit" [routerLink]="['/']">Back</button>
            </span>
        </tr>
    </table>
    </form>
