<body>
    <table class="header">
        <tr>
            <td class="brand">SunsetSnapper</td>
        </tr>

        <tr>
            <td class="login-header">Login</td>
        </tr>
    </table>

    <form>
        <!-- [formGroup]="loginForm" (ngSubmit)="onLogin()" -->
    <table class="login-body">
        <tr class="message">
            Please enter username to proceed!
        </tr>
        
        <tr>
            <td class="login-text">
                <label for="username">Username: </label>
                <input id="username" type="text" [(ngModel)]="username" name="username" placeholder="Enter Username" required>
                <!-- formControlName="username" -->
            </td>
        </tr>
        <tr>
            <td class="error-cell">
                <div *ngIf="invalidFormInput('username') && loginForm.controls['username'].touched" class="error-message">
                  Username is required!
                </div>
              </td>
        </tr>

        <!-- <tr>
            <td class="login-text">
                <label for="password">Password: </label>
                <input id="password" type="text" formControlName="password" placeholder="Enter Password" required>
            </td>
        </tr>
        <tr>
            <td class="error-cell">
                <div *ngIf="invalidFormInput('password') && loginForm.controls['password'].touched" class="error-message">
                  Password is required!
                </div>
              </td>
        </tr> -->

        <tr class="button">
            <span class="login-button">
                <button class="login-button" type="submit" (click)="onLogin()">Login</button>
            </span>
            
            <span class="home">
                <button class="back-button" type="submit" [routerLink]="['/']">Back</button>
            </span>
        </tr>
    </table>
    </form>
</body>