<body>
    <table class="header">
        <tr>
            <td class="brand">SunsetSnapper</td>
        </tr>
        <tr>
            <td class="login-header">Login</td>
        </tr>
    </table>

    <table class="login-body">
        <tr>
            <td class="login-text">
                <label for="username">Username: </label>
                <input id="username" type="text" formControlName="username" placeholder="Enter Username" required>
            </td>

        </tr>
        <tr>
            <td class="login-text">
                <label for="password">Password: </label>
                <input id="password" type="text" formControlName="password" placeholder="Enter Password" required>
            </td>
        </tr>
        <tr>
            <td class="login-button">
                <button class="login-button" type="submit">Login</button>
            </td>
        </tr>
    </table>
</body>