body {
    background-color:rgb(206, 163, 140);
    height: auto;
}

.header {
    width: 100%;
}

.brand {
    font-family: bradley hand;
    /* color: rgb(219, 221, 227); */
    color: rgb(211, 90, 21);
    font-size: 100px;
    text-align: center;
    border-style: solid;
    border-color: black;
}

.login-button {
    float: right;
    height: 35px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.post {
    width: 100%;
    text-align: center;
}

.post-button {
    height: 75px;
    width: 250px;
    font-family: bradley hand;
    font-size: 30px;
}

.browse-text {
    font-size: 25px;
    font-family: bradley hand;
    color: rgb(211, 90, 21);
}

.search-button {
    height: 30px;
    width: 100px;
    margin-left: 10px;
    font-family: bradley hand;
    font-size: 20px;
}

.text-input {
    height: 30px;
    width: 250px;
}

.homepage-city {
    width: 100vw;
    /* border-style: solid;
    border-color: white; */
    border-width: 5px;
    margin-top: 5px;
    padding: 30px;
}

.country {
    border-style: solid;
    border-color: rgb(117, 33, 150);
    border-width: 5px;
    margin: 40px;
    text-align: center;
    font-family: bradley hand;
    font-size: 75px;
    /* color: rgb(219, 221, 227); */
    color: rgb(215, 211, 208);
    padding: 40px;
    width: 50%;
    background-image: url("/assets/photo-background.jpeg");
}

