<div class="container">
    <img src="/assets/sunset-banner.jpg" style="width:100%">
    <div class="brand">S U N S E T S N A P P E R</div>
    <div>
        <button class="post-button" mat-raised-button style="width: 200px; height: 50px;" type="submit" (click)="onPostButtonClick()">Post Something!</button>

    </div>
</div>

<div class="layer-two">

    <span class="browser">
        <!-- <label for="city-input">Browse by City: </label> -->
            <input class="text-input" id="cityInput" type="text" [(ngModel)]="city" placeholder="Browse by city" required>
    </span>
    <span>
        <button mat-raised-button color="basic" class="search-button" [routerLink]="['/city', city]">Search</button>
    </span>

    <!-- <span class="post-button">
        <button class="button-text" mat-raised-button color="primary" style="width: 200px; height: 50px;" type="submit" (click)="onPostButtonClick()">Post Something!</button>
    </span> -->
    
</div>


<table class="homepage-city">
    <ng-container *ngFor="let city of cities; let i = index">
        <tr *ngIf="i % 2 == 0">
            <td class="country" routerLink="/city/{{cities[i]}}">
                <div class="city-text"> {{cities[i] }}</div> 
            </td>
            <td class="country" *ngIf="i + 1 < cities.length" routerLink="/city/{{cities[i+1]}}">
                <div class="city-text"> {{ cities[i+1] }} </div>
            </td>
        </tr>
    </ng-container>
</table>
