body {
    /* background-color:rgb(206, 163, 140); */
    /* background-color: rgb(14, 48, 67); */
    background-color: rgb(239, 127, 62);
    height: auto;
}

.header {
    width: 100%;
}

.layer-two {
    margin-top: 20px;
}

.brand {
    background-color: rgb(14, 48, 67);
    font-family: bradley hand;
    color: rgb(239, 127, 62);
    font-size: 80px;
    text-align: center;
    /* border-style: solid;
    border-color: grey; */
    padding-top: 20px;
    padding-bottom: 15px;
}

.login-button {
    float: right;
    font-family: bradley hand;
    font-size: 20px;
    height: 35px;
    margin-right: 10px;
}

.post {
    width: 100%;
    text-align: center;
}

.post-button {
    text-align: center;
    height: 65px;
    width: 250px;
    font-family: bradley hand;
    font-size: 30px;
    margin-right: 40px;
    float: right;
}

.browse-text {
    font-size: 25px;
    font-family: bradley hand;
    color: rgb(14, 48, 67);
    margin-left: 50px;
}

.search-button {
    height: 30px;
    width: 100px;
    margin-left: 10px;
    font-family: bradley hand;
    font-size: 20px;
}

.text-input {
    height: 30px;
    width: 250px;
}

.homepage-city {
    width: 100vw;
    /* border-style: solid;
    border-color: white; */
    border-width: 5px;
    margin-top: 5px;
    padding: 30px;
}

.country {
    border-style: solid;
    /* border-color: rgb(117, 33, 150); */
    border-color: rgb(51, 83, 119);
    border-width: 5px;
    margin: 40px;
    text-align: center;
    font-family: bradley hand;
    font-size: 75px;
    /* color: rgb(219, 221, 227); */
    color: rgb(216, 127, 72);
    text-shadow: 2px 2px 8px #000000;
    padding: 40px;
    width: 50%;
    background-image: url("/assets/photo-background.jpeg");
}

