<body>
    <div class="container">
        <img src="/assets/sunset-banner.jpg" style="width:100%">
        <div class="brand">S U N S E T S N A P P E R</div>
        <div>
            <button class="home-button" mat-raised-button style="width: 200px; height: 50px;" type="submit" [routerLink]="['/']">Home</button>
    
        </div>
    </div>
    <table class="header">
        <tr class="user-header">
            <td>Photos by: {{username}}</td>
        </tr>
    </table>

    <table class="user-photos">
        <ng-container *ngFor="let photo of photoList; let i = index"> 
            <tr *ngIf="i % 2 == 0">
                <td class="photo">
                    <p>
                        <img src="{{ photoList[i].photo }}" width="600px">
                    </p>
                    <button class="like-button" mat-fab extended color="warn" type="click" (click)="onLikeClick(photoList[i].photoId)">
                        <mat-icon>favorite</mat-icon>{{ photoList[i].likes }}
                    </button> 
                    <h4 class="detail-box">
                        City: {{ photoList[i].city}}
                        <br>
                        {{ photoList[i].details }}
                    </h4>
                </td>
                <td class="photo" *ngIf="i + 1 < photoList.length">
                    <p>
                        <img src="{{ photoList[i + 1].photo }}" width="600px">
                    </p>
                    <button class="like-button" mat-fab extended color="warn" type="click" (click)="onLikeClick(photoList[i + 1].photoId)">
                        <mat-icon>favorite</mat-icon>{{ photoList[i + 1].likes }}
                    </button> 
                    <h4 class="detail-box">
                        City: {{ photoList[i + 1].city}}
                        <br>
                        {{ photoList[i + 1].details }}
                    </h4>
                </td>
            </tr>
        </ng-container>
    </table>

</body>