body {
    background-color: rgb(14, 48, 67);
    height: auto;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.home-button {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-right: 40px;
    float: right;
    font-family: sans-serif;
    font-size: 25px;
}

.brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    color: white;
    font-size: 50px;
    border-style: solid;
    border-color: white;
    border-width: 8px;
    padding: 20px;
}

.header {
    width: 100%;
}

.city-header {
    font-family: sans-serif;
    text-decoration: underline;
    color: rgb(239, 134, 73);
    background-color: rgb(14, 48, 67);
    font-size: 75px;
    text-align: center;
}

.city-photos {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: bradley hand;
    color: rgb(239, 134, 73);
}

.text {
    color: rgb(26, 20, 16);
    font-family: bradley hand;
}

.box {
    background-color: rgb(180, 236, 245);
    width: 60%;
    margin-left: 10%;
    /* margin-bottom: 0px; */
    padding-bottom: 5px;
    padding-left: 10px;
    text-align: left;
    border-radius: 25px;
}

.like-button {
    float: right;
    margin-right: 90px;
    margin-top: 40px;
}